

/* style magmme */

html, body {
	height: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	background: #fff;
	color:#868686
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1{
	font-size: 6rem;
}

h2{
	font-size: 4rem;
	line-height: 6rem;
}

h3{
	font-size: 2.5rem;
}

h2, h3{
	color: #F22835;
}

/* colors */

.magme_black{
	color: #000;
}

.magme_red {
	color: #F22835;
}

.magme_white {
	color: #fff;
}

.colorOne {
	color: #DB004E;
}

.colorTwo {
	color:  #E8A527;
}

.colorThree {
	color:  #6143EE;
}


/* Horizontal line */

hr {
	position: relative;
	left: -35%;
	width: 30%;
	border-top: 1px solid #DB004E;
}

.line_magme_orange{
	border-top: 1px solid #E8A527;
}

.line_magme_blue{
	border-top: 1px solid #6143EE;
}

.line_magme_white{
	border-top: 1px solid #fff;
}



/* Logo */

#logo img {
	width: 30%;
	margin-top: -10px;
}


/* Menu Górne */

#menu{
	background-color: rgba(0, 0, 0, 0.3);
}



.navbar-inverse{
	background-color: transparent;
	border: none;
	font-size: 1.7rem;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navbar-outer{
	width: 1200px;
}

.navbar-inverse .navbar-nav > li {

	padding-top: 10px;
}

.navbar-inverse .navbar-nav > li> a {
	color: #DEE2E2;
	margin-left: 5px;
	border: 1px solid transparent;
	line-height: 1rem;
}

.navbar-inverse .navbar-nav > li> a:hover{
	border-bottom: 1px solid #CD2835;
	line-height: 1rem;
	color: #CD2835;
	-webkit-transition: all 0.7s ease;
	   -moz-transition: all 0.7s ease;
	    -ms-transition: all 0.7s ease;
	     -o-transition: all 0.7s ease;
	        transition: all 0.7s ease;
}

.navbar-inverse .navbar-nav > .active > a{
	display: block;
	border-bottom: 1px solid #CD2835;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:hover{

	background-color: transparent;
}


/* Slider */

#slider {

}

.carousel .item {
	width: 100%;
	max-height: 900px;
}

.carousel .item img {
	width: 100%;
}


/* Tytuły na sliderze */

	.carousel-caption{

		top: 30%;
		bottom: auto;
	}

.carousel-caption > h1{

	background: rgba(0, 0, 0, 0.4);
	display: block;
	width: 400px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 10px;
	text-transform: uppercase;
	line-height: 6rem;
	margin-left: 40%;
}

.carousel-caption > p{
	background: #BF464F;
	display: block;
	width: 550px;
	margin-top: -2%;
	margin-left: 25%;
	padding-left: 5px;
	padding-right: 5px;

}

#intro{
	background: #2E2F2F;
	color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
	background-image: url('../images/bg_nikta.jpg');
	background-size: cover;
	background-attachment: fixed;
	margin:  0 auto;
	width: 1440px;

}


#intro h2 {
	color: #fff;
}


/* O nas */


#o-nas{
	padding-top: 6rem;
	padding-bottom: 3rem;

}

#o-nas .title_magme{

	margin-bottom: 5rem;
}

#o-nas .btn{
	border: none;
	border-radius: 2rem;

}

#o-nas .btn:hover {

	border:  none;
	background-color: #fff;

}

.thumbnail {
	border: none;
	border-radius: 2rem;
	padding: 4rem;
	text-align: left;

}

.magme_one, .magme_two, .magme_three{
	transition-property: all;
	transition-duration: 0.8s;
	transition-timing-function: ease;
}

.magme_one:hover{
	background-color: rgba(215, 44, 44, 0.2);
}

.magme_two:hover{
	background-color: rgba(255,140,0, 0.2);
}

.magme_three:hover{
	background-color: rgba(138,43,226, 0.2);
}

/* Kontakt */

#kontakt {
	background: #2E2F2F;
	color: #fff;
	padding-top: 10%;
	padding-bottom: 10%;
	margin:  0 auto;
	width: 1440px;
	background-image: url('../images/bg_nikta3.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#kontakt h2, p {
	padding-left: 10%;
}

#kontakt hr {
	left: -25%;
}


/* Nowości */

	#nowosci{
		padding-top: 10%;
	}

	#nowosci h2 {
		line-height: 2rem;
	}

	#nowosci h4 {
		line-height: 4rem;
	}

	#nowosci .portfolio{
		padding: 5% 10%;

	}


	.nav-pills > li {
		float: none;
		display: inline-block;

	}

	.maszyny_menu >li >a {
		background-color: #fff;
		border: 1px solid #DB004E;
		color: #DB004E;

	}

	.maszyny_menu >li.active >a, .maszyny_menu >li.active >a:focus, .maszyny_menu >li.active >a:hover {
		color: #fff;
		background-color: #DB004E;
	}

	.maszyny_menu >li >a:hover {
		background-color: #fff;
	}

	.tab-content{
		margin-top: 2%;
		margin-left: 2%;
		border: 1px solid #DB004E;
		border-left: none;
		border-radius: 0px 20px 20px 0;
	}


	/* Partnerzy */

#partnerzy{
	padding-top: 10%;
	padding-bottom: 10%;
	background-image: url('../images/bg_nikta4.jpg');
	background-size: cover;
	margin:  0 auto;
	width: 1440px;
}

#partnerzy h2 {
	color:  #E8A527;
}
#partnerzy h4 {
	color: #fff;
	text-align: left;
}

#partnerzy img{
	padding-top: 5%;
}


/* Jakość */

#jakosc {
	padding-top: 10%;
	padding-bottom: 10%;
}

#jakosc h2 {
	line-height: 4rem;
}

#jakosc h4 {
	line-height: 3rem;
}

#jakosc .container {
	padding: 0 5% 0 5%;
}


#jakosc img {
	margin-left: -60%;
}

.jakoscRow {
	padding-top: 5%;
}

.columnRight{
	padding-top: 10%;
}








