

/* style magmme */

html, body {
	height: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	background: #fff;
	color:#868686
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1{
	font-size: 6rem;
}

h2{
	font-size: 4rem;
	line-height: 6rem;
}

h3{
	font-size: 2.5rem;
}

h2, h3{
	color:  #F22835;
}


/* Logo */

#logo img {
	width: 30%;
	margin-top: -10px;
}


/* Menu Górne */

#menu{
	background-color: rgba(0, 0, 0, 0.3);
}



.navbar-inverse{
	background-color: transparent;
	border: none;
	font-size: 1.7rem;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navbar-outer{
	width: 1200px;
}

.navbar-inverse .navbar-nav > li {

	padding-top: 10px;
}

.navbar-inverse .navbar-nav > li> a {
	color: #DEE2E2;
	margin-left: 5px;
	border: 1px solid transparent;
	line-height: 1rem;
}

.navbar-inverse .navbar-nav > li> a:hover{
	border-bottom: 1px solid #CD2835;
	line-height: 1rem;
	color: #CD2835;
	-webkit-transition: all 0.7s ease;
	   -moz-transition: all 0.7s ease;
	    -ms-transition: all 0.7s ease;
	     -o-transition: all 0.7s ease;
	        transition: all 0.7s ease;
}

.navbar-inverse .navbar-nav > .active > a{
	display: block;
	border-bottom: 1px solid #CD2835;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:hover{

	background-color: transparent;
}


/* Slider */

#slider {

}

.carousel .item {
	width: 100%;
	max-height: 900px;
}

.carousel .item img {
	width: 100%;
}


/* Tytuły na sliderze */

	.carousel-caption{

		top: 30%;
		bottom: auto;
	}

.carousel-caption > h1{

	background: rgba(0, 0, 0, 0.4);
	display: block;
	width: 400px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 10px;
	text-transform: uppercase;
	line-height: 6rem;
	margin-left: 40%;
}

.carousel-caption > p{
	background: #BF464F;
	display: block;
	width: 550px;
	margin-top: -2%;
	margin-left: 25%;
	padding-left: 5px;
	padding-right: 5px;

}

#intro{
	background: #2E2F2F;
	color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
	background-image: url('../images/bg_nikta.jpg');
	background-size: cover;
	background-attachment: fixed;

}

#intro h2 {
	color: #fff;
}


/* O nas */

#o-nas{
	padding-top: 6rem;
	padding-bottom: 3rem;
	text-align: center;
}

#o-nas .title_magme{

	margin-bottom: 5rem;
}


.thumbnail {
	border: none;
	border-radius: 2rem;
	padding: 3rem;
}

.magme_one, .magme_two, .magme_three{
	transition-property: all;
	transition-duration: 0.8s;
	transition-timing-function: ease;
}

.magme_one:hover, .magme_two:hover, .magme_three:hover{
	background-color: #F2F175
}








