

/* style magmme */

body{
	font-family: 'Raleway', sans-serif;
	background: #fff;
	color:#868686
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1{
	font-size: 6rem;
}

h2{
	font-size: 4rem;
	line-height: 6rem;
}

h3{
	font-size: 2.5rem;
}

h2, h3{
	color:  #F22835;
}


/* Logo */

#logo img {
	width: 30%;
	margin-top: -10px;
}


/* Menu Górne */

#menu{
	background-color: rgba(0, 0, 0, 0.3);
}



.navbar-inverse{
	background-color: transparent;
	border: none;
	font-size: 1.7rem;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navbar-outer{
	width: 1200px;
}

.navbar-inverse .navbar-nav > li {

	padding-top: 10px;
}

.navbar-inverse .navbar-nav > li> a {
	color: #DEE2E2;
	margin-left: 5px;
	border: 1px solid transparent;
	line-height: 1rem;
}

.navbar-inverse .navbar-nav > li> a:hover{
	border-bottom: 1px solid #CD2835;
	line-height: 1rem;
	color: #CD2835;
	-webkit-transition: all 0.7s ease;
	   -moz-transition: all 0.7s ease;
	    -ms-transition: all 0.7s ease;
	     -o-transition: all 0.7s ease;
	        transition: all 0.7s ease;
}

.navbar-inverse .navbar-nav > .active > a{
	display: block;
	border-bottom: 1px solid #CD2835;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:hover{

	background-color: transparent;
}


/* Slider */

#slider {

}

.carousel .item {
	width: 100%;
	max-height: 900px;
}

.carousel .item img {
	width: 100%;
}

.carousel .carousel-control{

background:  none;
border: none;
top:  50%;
}

/* Tytuły na sliderze */

.carousel-caption{

	top: 30%;
	bottom: auto;
}

.carousel-caption > h1{

	background: #000;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	line-height: 8rem;
}

.carousel-caption > p{
	background: #00ffff;
}

#intro{
	background: #BF464F;
	color: #fff;
}






